@font-face {
  font-family: "TH Sarabun New";
  font-weight: normal;
  font-display: swap;
  src: url("./fonts/THSarabunNew.ttf") format("truetype");
}

@font-face {
  font-family: "TH Sarabun New";
  font-weight: bold;
  font-display: swap;
  src: url("./fonts/THSarabunNew\ Bold.ttf") format("truetype");
}
body,html{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: "TH Sarabun New", sans-serif;
}